/* 
    Created on : 27/02/2019, 21:17:37
    Author     : alissoncarvalho
*/
@keyframes teste{
    0%{
        background: url(../images/imagem1.jpg) no-repeat ;
        background-size: cover;
        background-position: center;
    }
    25%{
        background: url(../images/imagem2.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    50%{
        background: url(../images/imagem3.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    75%{
        background: url(../images/imagem4.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    100%{
        background: url(../images/imagem1.jpg) no-repeat ;
        background-size: cover;
        background-position: center;
    }
}

*{
    margin: 0;
    font-family: Verdana;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{

}

.topo{
    width: 100%;
    height: 40px;
    background-color: #38363A
}

.container{
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    border: 0px solid red;
    box-sizing: border-box;
}

nav{
    height: 40px;
}

.topo ul{
    display: flex;
    height: 100%;
}

.topo li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 14;
    line-height: 40px;
}

.topo li:hover a{
    color: #8C8792;
}

.topo a{
    color: white;
}

.topo2{
    height: 140px;
    width: 100%;
}

.topo2b{
    display: flex;
    height: 100%;
    align-items: center;
}

.logo{

}

.banner{
    width: 100%;
    height: 500px;
}

.banner2{
    height: 500px;
    width: 1000px;
    animation-name: teste;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

.principal{
    width: 100%;
    height: 100%;
    background-color: #eee;
}

form .titulo{
    font-size: 25px;
    text-align: left;
}

form {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.titulo{
    margin-bottom: 20px;
}

.name > input{
    width: 300px;
    margin-bottom: 20px;
}
textArea{
    width: 300px;
}

#nome{
    border-radius: 3px;
    padding: 5px;
}

#text_area{
    border-radius: 3px;
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    background-color: #38363A;
}

.titulo{
    margin-bottom: 15px;
}
.conteudo a{
    font-family: Verdana;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.conteudo a:hover{
    color: #8C8792;
}

.container2{
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}